@import "tailwindcss";
@import "@nuxt/ui";

@theme static {
  --font-sans: 'DM Sans', sans-serif;


}

.dark {
  --ui-bg: var(--color-neutral-950);        /* main page bg: #0a0a0a */
  --ui-bg-muted: var(--color-neutral-900);  /* subtle sections: #171717 */
  --ui-bg-elevated: var(--color-neutral-900); /* cards, popovers: #171717 */
  --ui-bg-accented: var(--color-neutral-800); /* hover states, inputs: #262626 */
}
